body {
  background-color: rgb(51, 18, 58);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calc-wrapper {
  background-color: white;
  width: 500px;
  border-radius: 10px;
}

.row {
  display: flex;
}